html {
    height: 100%;
    /* background: white; */
    background-image: url("../background.jpg");
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat;
    overflow: hidden;
    color: black;
}

#guess {
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    text-align: center;
    font-size: 35px;
}

#answer, #hints {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    align-content: center;
    text-align: center;
}

#answer {
    font-size: 30px;
}



.hintBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-left: 5px;
    vertical-align: middle;
}

.hintBox.correct {
    background-color: green;
}

.hintBox.incorrect {
    background-color: red;
}
